[2021-08-11 15:55] wpf500 opened #30 "Use TypeScript"

[2021-08-11 16:07] wpf500 opened #31 "Use Tailwind instead of Bulma?"

[2021-12-02 16:55] aiscarvalho opened #73 "Amount component: fix button selected and hover state colors"
The amount component, used in the join form and the contribution page, is missing hover state in the buttons (monthly/annual and amounts) and has a selected state is different. These buttons follow the "highlighted button outline" style ([link to design system page](https://design.penpot.app/#/view/1555ffb0-ea21-11eb-9b24-4c4b7a420f0b?page-id=1555ffb1-ea21-11eb-9b24-4c4b7a420f0b&index=5&section=in

[2022-01-20 15:56] aiscarvalho opened #87 "Integrate Thank you message in footer"
Include the "Thank you" message, shown in the user homepage, in the footer with a more compact layout (since it would become visible in all pages).

Attaching a quick mockup to show how it would look:
- the logo could be replaced with a <3 icon if we find it repetitive to have the logo in the sidebar and the footer
- ignore the colours in this mock: all links in footer should have colour link and

[2022-01-20 16:11] aiscarvalho opened #88 "Minor: misaligned title in user home, in viewport interval 656px up to 767px"
In the user homepage, between 656px and 767px wide, the profile summary title is left aligned.
It should be the same as the title above it (quick actions).

![image](https://user-images.githubusercontent.com/122730/150375650-4be6f35d-3892-4777-a82f-b87ab56f3026.png)

[2022-01-21 16:26] saschafoerster opened #90 "Numbers are cut off at bottom"
Somehow the numbers are not fully visible.
<img width="449" alt="Bildschirmfoto 2022-01-21 um 17 25 36" src="https://user-images.githubusercontent.com/1153741/150563352-f2015f61-692f-494a-bdc5-ec956493a067.png">

[2022-01-21 16:28] saschafoerster commented on #90
Same in the backend  ./profile/contribution

<img width="396" alt="Bildschirmfoto 2022-01-21 um 17 27 47" src="https://user-images.githubusercontent.com/1153741/150563693-10d77d1e-6255-44ea-ac54-84cecb5acf10.png">

[2022-02-08 07:59] basilesimon commented on #90
Seems to me that the `<div.relative>` containing the number and its shadow `input` aren't dealt with very well in Safari (the only browser I can reproduce this bug on).

Very slightly tweaking the line-height of the `<div.text-6xl>` helps but does not feel very tailwind-y.
Alternatively, adding a bit of padding-bottom on the `<div.relative>` causes the baseline to go out of the window, and the num

[2022-02-08 08:48] saschafoerster commented on #90
Indeed, I saw this in Safari, sorry for not describing it in more detail before!

PS: Isn't it that Safari users pay more? 😇

[2022-02-11 12:01] #88 closed, assigned to basilesimon

[2022-02-11 14:54] basilesimon opened #101 "Upon logging in, screen shows wrong route"
I'd expect that logging in through the superadmin link present me with some kind of hello/welcome page, but it appears we're serving an empty dashboard.

It could very well be an artifact of bypassing the login procedure (@wpf500 can confirm?)... but in any case the set route is the following:

https://github.com/beabee-communityrm/beabee-frontend/blob/54696c04b321e2a6ce5f88153f5ff0c698d84cdd/src/

[2022-02-22 15:55] basilesimon opened #105 "Vertical align of grid items is different"
![image](https://user-images.githubusercontent.com/5701152/155169334-2d8527c5-de5d-4830-8089-fde87e851d0f.png)

`align-items: baseline;`

[2022-02-22 15:56] basilesimon commented on #101
Turns out this is happening locally only – closing this!

[2022-02-22 15:56] #101 closed, assigned to nobody

[2022-02-23 13:51] basilesimon opened #106 "Display some kind of default when a value is empty"
I think for this I would opt to handle it in the `AppInfoListItem` component, so if it gets an empty value it defaults to "-"

_Originally posted by @wpf500 in https://github.com/beabee-communityrm/beabee-frontend/issues/104#issuecomment-1048774325_

[2022-02-23 17:05] wpf500 commented on #87
Sorry I missed this one. This will need a change to the API so the thank you message is loaded on every page, will add to the backlog.

[2022-02-23 17:10] wpf500 opened #108 "AppInput problems"
Relating to https://github.com/beabee-communityrm/beabee-frontend/blob/main/src/components/forms/AppInput.vue

* The input's ID is currently set to `inputType`, this means none of the IDs are unique and the input's label won't point to the right input. Could we auto generate unique IDs or maybe it's simpler to wrap the input in the `<label>`?
* Do we need the property `inputType` at all? `type` at

[2022-02-23 17:12] wpf500 commented on #73
@aiscarvalho can this be closed now?

[2022-02-24 08:59] #106 closed, assigned to nobody

[2022-02-24 09:01] basilesimon commented on #106
@wpf500 see commit above for the solution I made up.

Doesn't seem like there's an obvious choice for defaults – if you know of one, let me know :)

[2022-02-24 09:45] rlafuente commented on #105
Yes, that definitely does not look right, the baselines ought to be aligned

[2022-02-24 10:01] wpf500 opened #109 "Remove most precommit tasks"
Commits are slow at the moment, and most of these things are checked during build time (or by IDEs). Remove all the precommit tasks except the commit linting for now

[2022-02-24 10:15] #105 closed, assigned to basilesimon

[2022-02-24 13:33] basilesimon opened #112 "Remove hardcoded URL"
https://github.com/beabee-communityrm/beabee-frontend/blob/e29ec0118c7418c2ed7d0cfc788d31ec1d0e9fb7/src/modules/contacts/ContactsPage.vue#L117-L118

[2022-02-28 10:53] aiscarvalho commented on #73
Yes!

[2022-02-28 10:53] #73 closed, assigned to basilesimon

[2022-03-04 16:09] #109 closed, assigned to basilesimon

[2022-03-04 16:28] wpf500 commented on #112
This is gone :tada:

[2022-03-04 16:28] #112 closed, assigned to wpf500

[2022-03-15 11:18] basilesimon opened #129 "AppTable rows' vertical alignment is out of whack"
![image](https://user-images.githubusercontent.com/5701152/158366692-8b6f0ef0-e122-4359-a44d-515680d46868.png)

[2022-03-15 13:13] basilesimon opened #130 "Rename contact overview tab"
From Tobi:

![image](https://user-images.githubusercontent.com/5701152/158385251-476e2527-27c7-4944-9b8f-543e5fc6e473.png)

[2022-03-15 14:57] aiscarvalho opened #131 "QA: mobile layout for callout answer page"
![image](https://user-images.githubusercontent.com/122730/158406295-d3722c80-beba-4eab-a0d6-e57f3f6b7110.png)

Added [one screen](https://design.penpot.app/#/view/e35a4dc0-1ae2-11ec-9c71-4a8af25a7bed?page-id=80a83000-8349-11ec-b868-f579dbfb6f82&section=interactions&index=0&share-id=aae401f0-a46e-11ec-a0b4-765163de8d2d) to show the layout adjusted to a small viewport width:
- headings are smaller (

[2022-03-15 15:16] aiscarvalho opened #132 "Multiple error notifications"
![image](https://user-images.githubusercontent.com/122730/158407384-f4fdd436-31df-46db-98d1-bf72f839a78a.png)

There should only be one error notification visible at each time.

At the moment, it's possible to get an infinite number of notification of the same error: if the user clicks the button(s) that trigger the error, each click creates a new error notification. Since the error notification i

[2022-03-17 11:06] rlafuente opened #136 "Feedback required: Admin dashboard"
![image](https://user-images.githubusercontent.com/159868/158796197-e5b531fb-3a18-4142-bcad-872ef457f1f3.png)

As we're putting together the spec for the admin dashboard, we realised there should be a set of links/references to more information and support for Beabee admins. We've opened a space for this (the darker rectangle) and were wondering what to include, e.g.

- handbook
- contact support

[2022-03-22 11:43] rlafuente opened #139 "Spec: User and admin sidebars"
Here's the design for how the sidebar should look like for users vs. admins. It's not trivial to balance all necessary elements, plus we still need to define a couple of icons, but before we'd like to get your general feedback.

The fundamental issue is how to combine, for admins, the admin menu as well as the user menu (which admins will see too). Our solution is to simply integrate both with a c

[2022-03-22 16:15] basilesimon commented on #132
Not sure I agree with the `bug` label here – it's working very much as expected.

Which isn't to say that the output is wholly desirable. Maybe clicking dangerous side effect buttons (e.g. "update contribution") should disable the button(s) for a set amount of time?

[2022-03-22 19:06] aiscarvalho opened #140 "Wireframe: newsroom signup"
After the onboarding (in-person!) session, we [revised the newsroom signup wireframe](https://design.penpot.app/#/view/167be840-9008-11ec-bd38-efdb6fa63305?page-id=7c149280-9ef2-11ec-8243-fb3945d660a4&section=interactions&index=0&share-id=dd36ab10-a9f2-11ec-a0b4-765163de8d2d) to include a field for the logo and alternative payment methods.
Switch to page two, in the link above, to see the first si

[2022-03-23 09:28] wpf500 commented on #139
Has the settings heading deliberately disappeared for "Your information" and "Contribution"? I think the user layout should match for both admins and non-admins

[2022-03-23 10:45] rlafuente opened #141 "Proposal: Remove callout confirmation step?"
We were looking into the move to unify the Callout Summary page and the last confirmation step when creating a new callout.

And we just thought that maybe we could do without the confirmation page? As a reminder, it's this one:

![image](https://user-images.githubusercontent.com/159868/159681815-665d7dcd-22e4-452d-8251-bffb251d9a52.png)

And this because:

- creating a new callout is not a decisi

[2022-03-23 11:15] aiscarvalho commented on #139
Agreed! We had removed the "settings" header to save space but we agree that, for clarity, they should match.
We've just updated the spec.

[2022-03-23 12:19] wpf500 commented on #141
Yeah definitely worth a try :). We can review once we have a working version of the create callout flow

[2022-03-23 12:19] wpf500 commented on #131
Looks good :+1:

[2022-03-23 12:19] #131 closed, assigned to nobody

[2022-03-23 13:04] wpf500 commented on #139
Happy to go with this for now but just noting that in our backlog session @aiscarvalho you mentioned that we might be able to go with a different approach of having two different callout views (which is the only page with a clash at the moment). Just wondering why you chose this route in the end?

[2022-03-23 14:11] wpf500 commented on #140
Looks good I think, although in practice the taking payment details bit will probably just be a credit card I think

I think we'll need to mention somewhere in the your-organisation.beabee.io bit that the user can also set their own domain later, but I guess that's more for the design bit

[2022-03-23 14:44] TobiasHauswurz commented on #136
I think the biggest problem here is, that we don't really have that much content, that could go in here. And what we have is in german mostly. We don't have a support website with guides etc. now. This will not happen before Perugia. But I made a list with ideas for german and english:

German:

- My contact: tobias.hauswurz@beabee.io
- beabee Online-Class at the Reporterfabrik of CORRECTIV: https

[2022-03-23 15:36] aiscarvalho commented on #139
Happy to share the whys and exchange thoughts. @wpf500  thanks for asking!

After the backlog me and Ricardo went through the different possibilities together. We concluded for the user it would be conceptually simpler to have two spaces in the backend: one where she/he is a member and one where she/he is an admin. We found this split served the admin's need to "see it like a member"; it helped se

[2022-03-23 15:51] will commented on #139
On Mar 23, 2022 at 8:36:51 AM, Ana Isabel Carvalho ***@***.***>
wrote:

That all sounds good to me! go for it!

[2022-03-23 15:58] aiscarvalho commented on #140
We added alternative payment options because Tobias explained that in Germany media orgs couldn't have cards associated to their bank accounts.

As an alternative, we could display just the card payment interface and offer a link to access alternative payment methods (example: Prefer to pay by direct debit?). If we can have the browser do some location work, we can show a sensible default for paym

[2022-03-23 17:19] rlafuente commented on #136
OK we have a bit of a dilemma here then :) On one hand it'd be great to have more content for the dashboard to look more populated. On the other, we need to have content for this to work!

@julia-hildebrand @wpf500 should we just go ahead without the dashboard links section? Or do you know of any other element/guide/section we could add to the dashboard?

[2022-03-24 09:49] wpf500 commented on #139
Sounds good to me too

[2022-03-24 09:49] #139 closed, assigned to nobody

[2022-03-24 10:44] basilesimon commented on #141
Seconding what Will said :)

[2022-03-24 16:07] rlafuente commented on #136
Refining the layout after a quick call today with Julia & Tobi:

![image](https://user-images.githubusercontent.com/159868/159960027-266e044e-9e35-48c8-8afd-3a853343c6fb.png)

We're not sure about how much the Slack banner should stand out, or whether the support link should be more highlighted, so we're putting this version out to help find the way. Any copy corrections+improvements are welcomed

[2022-03-24 22:45] saschafoerster commented on #140
Maybe also think of plugins, that might add other payment methods later on.
I like this overview of possible extensions: https://marketplace.pretix.eu/categories/2/

[2022-03-29 10:52] basilesimon commented on #136
Commented on this during standup this morning:

- Love it!
- If you wanted the "big numbers" to be bigger and more bespoke, I think we'd be happy to consider this if there's time. The present version is "low friction" (Ricardo) and that's kind of you :)

[2022-03-29 11:14] rlafuente commented on #141
Great! We'll update the spec then.

[2022-03-29 12:41] basilesimon opened #147 "Support for several font-families"
Presently, `<body>` is set to follow `.body-font` (Open Sans by default).

While it is possible to specify additional fonts in `theme.json` (it's even implemented in `tailwind.config.js`, these declarations are not used in the app.

That behaviour feels unexpected to me, and was reported by Sascha on Slack.

[Here's an example reproduction of the behaviour](https://github.com/beabee-communityrm/be

[2022-03-29 13:16] basilesimon commented on #147
We're even saying we can in the deploy readme:

[2022-03-30 09:46] #141 closed, assigned to nobody

[2022-03-30 09:59] rlafuente commented on #141
Updated spec is [here](https://design.penpot.app/#/view/e35a4dc0-1ae2-11ec-9c71-4a8af25a7bed?page-id=4a449480-5910-11ec-8ccc-4b86b12c67d6&section=interactions&index=0&share-id=50d8b780-89c7-11ec-b79c-9eafb5cb1e0f)!

[2022-03-30 13:43] aiscarvalho commented on #136
We updated the dashboard to include big numbers! [It's in the same spec](https://design.penpot.app/#/view/f8f23980-a530-11ec-a0b4-765163de8d2d?page-id=3a291521-3d7d-11ec-a943-23056af0be2f&section=interactions&index=0&share-id=7e48a400-b01e-11ec-8896-765163de8d2d), together with the low friction version.

![image](https://user-images.githubusercontent.com/122730/160847458-d2815eae-b4ec-4779-a776-ef

[2022-03-30 15:07] basilesimon commented on #136
I personally really like it :)

[2022-03-31 08:15] wpf500 commented on #136
Looks great, let's do it!

[2022-03-31 08:17] wpf500 commented on #136
My only comment is "Most recent subscriptions" isn't really the right language, it needs to be something like "Most recently joined" as we don't really use the term "subscriptions". However this can obviously just be adjusted during the implementation

[2022-03-31 13:27] wpf500 commented on #140
Hey @saschafoerster, what a list of payment gateways! We're definitely aiming towards this sort of thing in the future, with Stripe being the first one we'll do. I'm hoping the process of adding a second payment gateway will help inform what payment gateway plugins could look like, so one day we can have docs on how to create them

[2022-03-31 13:52] saschafoerster commented on #140
I think the most important thing here is to make it modular, so that any kind of payment plugin created by community, company our you, can be turned on and off, as every company has different target groups. It gets even more important for internationalisation. GoCardless is not well known in Germany so people prefer to use different methods. For Germany it's PayPal, bank transfer, SEPA and only th

[2022-04-07 16:26] aiscarvalho opened #158 "Wireframe: post-signup dashboard"
A wireframe for the dashboard after signup with suggested actions and necessary actions ([penpot link](https://design.penpot.app/#/view/167be840-9008-11ec-bd38-efdb6fa63305?page-id=4fe6fd30-b4f8-11ec-a6b4-8bf5c7f95f90&section=interactions&index=0&share-id=592877f0-b5c2-11ec-862a-da95c03a630b)):

#### Dashboard:
![image](https://user-images.githubusercontent.com/122730/162251295-0e4aae05-7986-4bca-

[2022-04-12 16:06] aiscarvalho commented on #158
Today we had a great call and super useful feedback from Julia and Tobias. Here's a quick list of the updates and the revised wireframes:

- post-signup suggestions should all be _dismissable_. Options to provide: don't show this again; remind me later (shows in next login)
- after signup we'll use warnings to prompt admin for missing data/actions
- payment copy box: make it re-purposable. It's th

[2022-04-13 09:00] #147 closed, assigned to nobody

[2022-04-20 08:55] #136 closed, assigned to nobody

[2022-04-20 12:45] basilesimon opened #163 "Build and release error"
See https://github.com/beabee-communityrm/beabee-frontend/runs/6095088651?check_suite_focus=true

[code]

[2022-04-20 14:03] basilesimon commented on #163
`/src/modules/admin/AdminPage.vue`

[code]

[2022-04-20 16:43] rlafuente opened #165 "Spec: Membership builder"
Here's the specs for 3 membership builder sections, which are previewed and annotated below. Here's quick links to the spec pages:

- [Join form](https://design.penpot.app/#/view/06c46320-bbf8-11ec-862a-da95c03a630b?page-id=06c46321-bbf8-11ec-862a-da95c03a630b&section=interactions&index=2)
- [Intro message editor](https://design.penpot.app/#/view/06c46320-bbf8-11ec-862a-da95c03a630b?page-id=06c463

[2022-04-20 16:52] rlafuente opened #166 "Spec: Admin dashboard (revised) + empty sections"
Penpot links:

- [Revised dashboard](https://design.penpot.app/#/view/f8f23980-a530-11ec-a0b4-765163de8d2d?page-id=3a291521-3d7d-11ec-a943-23056af0be2f&section=interactions&index=0&share-id=19efd3f0-c0c9-11ec-82c9-da95c03a630b)
- [Dashboard with empty sections](https://design.penpot.app/#/view/f8f23980-a530-11ec-a0b4-765163de8d2d?page-id=3a291521-3d7d-11ec-a943-23056af0be2f&section=interactions&in

[2022-04-20 17:11] wpf500 commented on #163
Fixed by #164

[2022-04-20 17:11] #163 closed, assigned to nobody

[2022-04-21 15:11] wpf500 opened #168 "Hints not showing on create callout form builder"
Nothing happens any more when you hover over the question mark

![image](https://user-images.githubusercontent.com/2084823/164489422-6ab6cab0-6658-4993-9f71-9cb365f9442a.png)

This is to do with how we are replacing the icon using the JS library

[2022-04-21 21:41] saschafoerster commented on #147
I really like, that I can now define two fonts. Just, the title-font is not appearing every-where, where I expect it.
I guess some vue-files here where missing, especially around /join and the /auth-modules
https://github.com/beabee-communityrm/beabee-frontend/tree/main/src/modules/auth

I searched for some places (not shure these are all titles)

https://github.com/beabee-communityrm/beabee-front

[2022-04-25 09:36] basilesimon commented on #147
@saschafoerster fixed in incoming pull request: https://github.com/beabee-communityrm/beabee-frontend/pull/170

Thanks for the report.

[2022-04-25 14:27] wpf500 commented on #165
Looks good in general. I've been chatting with @basilesimon and we think the create callout style stepper component is a cleaner way of implementing the steps (insetad of tabs), so we're going to start with that approach but can review when you're back as it doesn't affect building the core forms for the page.

[2022-05-05 15:45] basilesimon opened #178 "Bucket list: lack of internationalisation"

[2022-05-05 15:45] basilesimon commented on #178
https://github.com/beabee-communityrm/beabee-frontend/blob/main/src/modules/callouts/components/steps/UrlAndSharing.vue#L21-L23

[2022-05-10 10:04] rlafuente opened #182 "Wireframe: Legal agreements page"
This follows from the [requirements](https://app.gitbook.com/o/-MLm62K6BHNeK5d-nHW5/s/-MLm5pPMozvqHfx_eia1/docs/feature-requirements/legal-requirements-for-self-onboarding) for the page where newsrooms accept our agreements.

![image](https://user-images.githubusercontent.com/159868/167603296-902b6026-b890-4829-b8b3-c34a83a50f99.png)

[Penpot doc](https://design.penpot.app/#/view/167be840-9008-11e

[2022-05-11 08:09] basilesimon commented on #166
I think it's really good foresight to include the box aiming to inform admins about their deal, when it would end, etc.

Let's just make sure to map out the copy (in English at least) so we can get a sense of the data we need to pull out to make this happen :)

[2022-05-11 09:24] wpf500 commented on #166
Looks good. One thing: I like the style Stripe/GoCardless use for their empty dashboards where the "Numbers for the last 30 days" bit just shows 0s. I think it suggests opportunity and the exciting prospect of things to come: "you could get revenue and have members". What do you think?

Agreed with @basilesimon about the payment text but I don't think we need to do that in this task as this should

[2022-05-11 11:13] TobiasHauswurz commented on #182
Hmm, I'm actually not sure if this has to be a page on its own. I think this should go into this one, if we just add the missing legal parts: https://github.com/beabee-communityrm/beabee-frontend/issues/140

Name and name of the organisation are already in there, so we would just need to add the address bit and the legal bits about the agreements to the bottom of this page.

(I think "name of the

[2022-05-11 11:17] TobiasHauswurz commented on #182
We already have some "legal stuff" at the end of #140. So maybe we can just put what is legally required under the "Almost done" part.

[2022-05-11 13:48] rlafuente opened #186 "Most elegant way to deal with distinct empty states on the frontend?"
This is more a way to articulate the problem and get @wpf500's perspective on how to proceed here.

Problem: We're now adding messages for empty widgets (e.g. tables, lists, numbers) and the contacts page turned up a small dilemma: there can be more than one reason for the table to be empty, which will require different messages to the user. In the case of the contacts page, we can have two empty

[2022-05-11 16:10] aiscarvalho opened #187 "Spec: Multiple payment methods UI/UX (join flow)"
We updated the first step of the join flow to include multiple payment options and update the order of the content blocks: email and password are now on top; contribution and payment options are together, at the bottom. We added titles along the form to make the blocks clearer.[Spec in Penpot](https://design.penpot.app/#/view/b59ef0e0-cf5e-11eb-abea-1491b30edcfb?page-id=7e4c6780-d12e-11ec-857d-2f3

[2022-05-11 16:18] rlafuente opened #188 "Spec: Callout sharing menu for users"
![image](https://user-images.githubusercontent.com/159868/167898175-954cb57e-b1ce-405d-9715-599b9cf7a520.png)

We put the most common options in to see what the widget would look like, but it's definitely open for review.

UX-wise, the idea would be for the box to expand from the Share button, but if this turns out to be too onerous, a simple modal can suffice for now.

[See spec on PenPot](https:

[2022-05-11 17:10] saschafoerster commented on #187
Love it already. What happens with more than four payment options? Will there be a second line? Can you put a "favorite" payment option to the top/front?

[2022-05-11 17:15] saschafoerster commented on #188
How about using fontawesome for the icons? Like this one? https://fontawesome.com/icons/facebook-square?s=brands

[2022-05-12 08:11] wpf500 commented on #186
If I understand you correctly this would be adding a named slot to `AppTable` then defining the logic for which message gets shown in that slot for each use of `AppTable`? Sounds like a lovely solution to me :)

[2022-05-12 08:13] wpf500 commented on #187
Looks great!

@saschafoerster
* Good question about the more than 4 payment options, @aiscarvalho?
* Admins will be able to choose the order the payment options are shown to the user

[2022-05-12 08:21] wpf500 commented on #158
I think this looks good for now. I worry a bit about the whole thing being dismissable, but maybe the notices will be able to cover the important stuff. I think this will be a lot clearer when we start implementing it and get a feel for it, so :+1:

[2022-05-12 08:23] wpf500 commented on #187
Ah sorry I see that the more than 4 options is covered on Penpot
![image](https://user-images.githubusercontent.com/2084823/168025911-964cc160-656e-4ad0-a4db-fd51b525d876.png)

[2022-05-12 08:24] wpf500 commented on #187
@aiscarvalho is the second step (entering payment details) of the join flow coming in this issue?

[2022-05-12 08:55] saschafoerster commented on #187
It's so perfect! 🥰

[2022-05-12 08:59] TobiasHauswurz commented on #158
Yeah, looks good for now. The thing about being dismissable:

The idea behind it was, that there are some things a newsrooms might not want to do at all. Like connecting Mailchimp, set up a custom domain or import existing contacts. It would not be so nice to remind them forever, because they would never be able to make "normal" use of the dashboard...So maybe just some things should be dismissabl

[2022-05-12 09:07] aiscarvalho commented on #165
We're onboard with trying the callout stepper component! And can adjust the spec during implementation if any layout issue arises.

[2022-05-12 09:45] aiscarvalho commented on #166
We agree! We've updated the spec to display 0s in the stats while there's no data available:

![image](https://user-images.githubusercontent.com/122730/168042230-4465e54b-3f6b-4131-8ee3-33d89faa25e4.png)
![image](https://user-images.githubusercontent.com/122730/168042168-ec2323dc-452e-4561-b2d2-afb545bda412.png)

[2022-05-12 10:34] #158 closed, assigned to nobody

[2022-05-12 10:35] wpf500 commented on #166
Great, closing this then :+1:

[2022-05-12 10:35] #166 closed, assigned to nobody

[2022-05-12 10:41] aiscarvalho commented on #187
@wpf500 yes, second step will be in this spec too. We'll post it here when we finish.

@saschafoerster thanks for your comments!

[2022-05-13 15:45] aiscarvalho commented on #182
Good call! We integrated the legal details in the newsroom signup form, see below :)
[Spec link](https://design.penpot.app/#/view/167be840-9008-11ec-bd38-efdb6fa63305?page-id=7c149280-9ef2-11ec-8243-fb3945d660a4&section=interactions&index=0&share-id=312387e0-d2d2-11ec-ab9e-75f6b8214121)

![image](https://user-images.githubusercontent.com/122730/168319289-2bd17fca-1562-462c-8cb9-ca0dc13b5827.png)

[2022-05-17 13:43] TobiasHauswurz commented on #182
Looks good :)

[2022-05-17 13:47] #182 closed, assigned to nobody

[2022-05-17 13:48] #140 closed, assigned to nobody

[2022-05-18 15:20] TobiasHauswurz commented on #187
Hey, just some notes:

**Page 1:**

- There might a reason why Email and Password moved to the top, but I found it nicer the other way round. Not only design wise, but it's also more playful to start with. And the Monthly/Annual-buttons worked great as a divider between the content (headline and subheadline) and the form elements. Maybe it's only me, but the design with payment on top looked much

[2022-05-18 15:29] aiscarvalho opened #193 "Spec: delete callout"
We updated the callout spec to document the _delete callout_ action. It follows the same pattern used in _delete callout responses_: a modal dialog asking for confirmation and warning the user the change is irreversible.

![image](https://user-images.githubusercontent.com/122730/169074028-d13e7e1c-b387-4f04-820a-d41708e1c68b.png)

[Delete callout - direct penpot page link](https://design.penpot.ap

[2022-05-18 16:45] wpf500 commented on #187
@TobiasHauswurz moving the email and password to the top was actually my suggestion as I thought:

a. it was strange that the contribution amount was separated from the payment method and fee option
b. it was simpler to imagine a flow for signing up without contributing. Currently the one I hacked in for Brush and Bow looks a bit strange

![image](https://user-images.githubusercontent.com/2084823/

[2022-05-18 16:57] wpf500 commented on #193
Yeah I think this looks good, nice and simple :+1:

[2022-05-19 09:18] aiscarvalho commented on #187
@TobiasHauswurz @wpf500  thanks for the on point feedback!

1. @TobiasHauswurz we agree with your take, having the amount input on the top brings playfulness to the form. At the same time, @wpf500 we understand the logic of grouping together the amount input and payment method (plus solving the join flow case of Brush&Bow).

Maybe for now we keep the current order -- amount input on top -- and re-

[2022-05-19 10:20] aiscarvalho opened #194 "Spec: replicate callout"
@wpf500 we went with the approach to auto-generate a new unique slug and title for replicated callouts, by adding a suffix like **_- copy 1_**. For example, a callout titled _Help needed!_ when replicated would become _Help needed! - copy 1_; a slug `help-needed` would become `help-needed-copy-1`.

When a user replicates an existing callout she/he is taken to the edit callout interface where they

[2022-05-19 11:01] wpf500 commented on #194
Yeah I think that approach is much better/simpler than the legacy app :+1:

[2022-05-19 14:21] #194 closed, assigned to nobody

[2022-05-19 14:22] #193 closed, assigned to nobody

[2022-05-19 14:37] rlafuente commented on #188
Indeed that's the plan! For the spec we mocked it up manually using the assets from Fontawesome, but they'll look much more in place when we implement it in the frontend.

[2022-05-19 16:28] aiscarvalho commented on #188
After some exchange we decided to make the sharing into a expandable section instead of a popup. The [spec is updated](https://design.penpot.app/#/view/e35a4dc0-1ae2-11ec-9c71-4a8af25a7bed?page-id=4ac1a360-d117-11ec-b5d3-b772d2e677f5&section=interactions&index=2&share-id=68256310-d757-11ec-ab9e-75f6b8214121).

![image](https://user-images.githubusercontent.com/122730/169350154-3945bd41-047c-4269-b

[2022-05-20 07:45] saschafoerster commented on #187
Just an short idea. I like forms, that are very simple and on point on the first page. So only: contribution and let's go to the next step. Then a second page of the form, where I can choose, which payment provider I like or login with my existing account (and maybe an already existing connection to a payment provider).  So the focus stays very clear on choosing the contribution and not being over

[2022-05-23 11:03] wpf500 commented on #187
Hi @saschafoerster, unfortunately because of technical constraints this would actually have to be a three step process (contribution -> payment type -> payment details), as we need to setup the payment form once we know what payment method the user wants to use.

We could get around this constraint by only supporting Stripe, but then we loose the ability to a) use GoCardless (which doesn't necessa

[2022-05-25 16:20] aiscarvalho opened #201 "Spec: newsroom signup"
A design spec for the newsroom signup process, following-up on the wireframe and the Essen work session.

Our guiding principles for the newsroom signup up were: make a one page form that is visually compact and easy to fill out.  To make the form layout compact, in desktop, labels and inputs are placed side by side. We mocked the form as a page from beabee's main website, with the top navigation

[2022-06-07 15:51] aiscarvalho opened #203 "Wireframe: Import contacts"
The wireframe for importing contacts is ready for review and feedback. Below is a short explanation of the flow and each screen.
[See it all in penpot](https://design.penpot.app/#/view/118239b0-dcf8-11ec-9f2d-f940e3befd53?page-id=4e29b270-b03a-11ec-8735-b3cbc25196fd&section=interactions&index=11&share-id=4e8b08c0-e5a2-11ec-9a7f-f940e3befd53).

**Step 1:** upload a file
![image](https://user-images

[2022-06-08 09:57] wpf500 commented on #187
Closing this as latest spec has been reviewed

[2022-06-08 09:57] #187 closed, assigned to nobody

[2022-06-08 09:58] #186 closed, assigned to wpf500

[2022-06-08 10:03] wpf500 commented on #201
Looks great. A few comments:
* I think we might need to add a language dropdown unless we default to English?
* I don't think we need the organisation's address, unless this is for something legal?
* Could you spec out how the subdomain "click to edit" would work?

[2022-06-08 10:21] wpf500 commented on #203
Woo importing contacts!!

A few comments:
* In the requirements session @aiscarvalho suggested asking if the admin is just importing contacts or members with contributions, with the short term solution being that if they try to import members it points them towards the guided import. This feels quite important as the difference between just importing some contacts versus members with contributions

[2022-06-08 10:22] wpf500 commented on #165
@aiscarvalho did you reopen this issue for a reason or shall we close it?

[2022-06-08 10:37] aiscarvalho commented on #165
@wpf500 yes. At the time reopened it because we closed it before review and Tobias couldn't comment. I'm closing it since review is done :)

[2022-06-08 10:37] #165 closed, assigned to nobody

[2022-06-09 15:59] aiscarvalho commented on #201
We updated the spec to include the language dropdown and the subdomain edit; and kept the address fields because of the legal requirements:

![image](https://user-images.githubusercontent.com/122730/172892129-a18a5198-c09d-4860-9cda-07711eb52ed8.png)

[2022-06-14 10:37] aiscarvalho commented on #203
Thanks for the feedback!
Here are the screenshots of the updated wireframes:

**_Step 0_**: ask the admin if the contacts to import contain payment data or not:
![image](https://user-images.githubusercontent.com/122730/173556476-3c30883b-faed-49ba-b7ff-c2372084e691.png)

If the contacts have payment data, redirect admin to book a support session (same as if guided import is selected):
![image](htt

[2022-06-15 09:06] wpf500 commented on #203
LGTM :+1:

[2022-06-15 09:08] wpf500 commented on #201
Closing as this has gone through review

[2022-06-15 09:08] #201 closed, assigned to nobody

[2022-06-17 07:35] TobiasHauswurz commented on #203
Nothing to add, looks very good

[2022-06-27 14:27] #203 closed, assigned to nobody

[2022-06-28 10:09] aiscarvalho opened #223 "Spec: Import contacts flow"
Importing contacts flow: [spec in penpot](https://design.penpot.app/#/view/ec5354d0-ed55-11ec-8abe-f940e3befd53?page-id=3a291521-3d7d-11ec-a943-23056af0be2f&section=interactions&index=0&share-id=da550fd0-f23c-11ec-b774-f940e3befd53)

While doing the design we decide to:
- add a step to the side navigation for the screen where we show matching contacts and errors (it's clearer for navigation purpos

[2022-06-28 11:02] rlafuente opened #224 "Spec: Payment history markers"
In order to mark payments that failed, as well as future/upcoming payments, we propose a simple style to highlight them, with two alternatives for the desktop view.

![image](https://user-images.githubusercontent.com/159868/176161402-7b4c3ea3-1fc5-4354-ac64-82aef3cec31a.png)

Mobile/narrow view should have a tooltip or tappable marker to explain its meaning.

We're not sure of how eagerly we want

[2022-06-29 08:30] wpf500 commented on #223
LGTM :+1:

[2022-06-29 08:42] wpf500 commented on #224
I think simpler is better (the one on the right), but is green the right colour for upcoming payments? At a glance it looks more like a success state which is confusing (especially on mobile). Could we go for a lighter shade of body text colour instead?

[2022-06-29 16:59] #188 closed, assigned to nobody

[2022-06-30 07:53] TobiasHauswurz commented on #223
Looks nice! Twi things from my side:

- Not sure about that newsletter bit, i think this could be much more complicated. Is the idea to send everyone from that list an automated email with an invite? Where is this invite leading them to, then? Would we need something like a subscription form then? Another use case could be, that they already have the permission to send them newsletters. Or possibl

[2022-06-30 09:42] aiscarvalho commented on #223
- we'll leave out the newsletter bit for now. We agree that bit is tricky; we can't add people to the newsletter without their consent and there might be people that are already subscribed. Plus, sending an invite would only work if we had configurations for a connection to MC.
- Good catch :) we re-used the contact list from the original contact list spec (which is a little different from what's

[2022-06-30 10:00] rlafuente commented on #224
Good call, here's an updated view:

![image](https://user-images.githubusercontent.com/159868/176650203-5117ab3a-8517-4bde-94d4-0d459f84d10f.png)

[2022-07-04 12:04] wpf500 commented on #224
Implemented by https://github.com/beabee-communityrm/beabee-frontend/pull/227

[2022-07-04 12:04] #224 closed, assigned to nobody

[2022-07-06 14:33] aiscarvalho opened #229 "Wireframe: newsroom settings"
See the [wireframes on penpot](https://design.penpot.app/#/view/3c1804e0-f7ae-11ec-8f45-75f6b8214121?page-id=3c1804e1-f7ae-11ec-8f45-75f6b8214121&section=interactions&index=0&share-id=af7c84b0-fd35-11ec-8f45-75f6b8214121) or below (we're including screenshots of all pages here).

1. General
![image](https://user-images.githubusercontent.com/122730/177575926-72023ab1-61b5-4326-9770-ce5922eba75f.png

[2022-07-06 14:38] aiscarvalho commented on #229
One more note: we were wondering about the need for social sharing definitions since all pages will only be accessible to registered users.

[2022-07-06 14:43] saschafoerster commented on #229
@aiscarvalho How about the join-page? I think this is the only page, where it's worth about the design in social sharing.

[2022-07-06 16:48] aiscarvalho commented on #229
@saschafoerster yes, that's a good one! And in that case it would make sense to have this together with the join form editor.

[2022-07-07 12:40] wpf500 commented on #229
@aiscarvalho I think we needs some default share settings so if any URLs do find their way onto social media there is at something to display. We could combine these with the join share settings so most URLs (except callouts) get a join message if a URL is shared?

[2022-07-07 13:04] wpf500 commented on #229
@aiscarvalho the domain settings don't quite work I think. The user still needs to install four DNS records whether they use a custom email domain or not. There are basically three scenarios for the domain/email configuration:

1. User chooses community.newsroom.org as their domain without a custom email domain:

CNAME community -> deploy1.beabee.io
CNAME em1234.community -> xxx.sendgrid.net
CNAME

[2022-07-07 13:11] wpf500 commented on #223
Going to mark this as done as we can clean up any other issues during implementation

[2022-07-07 13:11] #223 closed, assigned to nobody

[2022-07-07 13:12] wpf500 commented on #129
This has now been fixed

[2022-07-07 13:12] #129 closed, assigned to nobody

[2022-07-13 10:00] aiscarvalho commented on #229
We updated the domain setup wireframes but would welcome your feedback. It's a tricky set of combinations but from what we understand this might cover all possibilities:

- a newsroom that uses our URL but wants to send emails from their custom domain:
![image](https://user-images.githubusercontent.com/122730/178703118-3125f712-59ee-4a90-8e8a-ccb8cb0ddfe7.png)

- a newsroom that uses a custom doma

[2022-07-14 14:09] wpf500 commented on #229
I think this covers the use case we want to offer for email domain settings :+1:. Technically we could give them the option of sending from *any* domain that sits within the base domain, (e.g. members.newsroom.io, email somethingelse.newsroom.io) but that seems a bit mad in any case. Let's stick with this.

The links are already shared between all the places, I was just making what I think wasn't

[2022-07-14 14:45] TobiasHauswurz commented on #229
Just leaving some thoughts:

- Is there really a Use case for people not using their own URL but are then super keen about the Emails coming from their domain? Maybe it would make things easier, if we just offer that, when using a custom domain. Having too many different options could overwhelm people without any technical background.

- Referring to this: Maybe we could add some kind of hint at t

[2022-07-14 14:59] wpf500 commented on #229
Some good points there I think @TobiasHauswurz. I've also realised that there will need to be a button to "submit" their chosen domain anyway as the server will need to generate the DNS records, so we can't actually show the DNS records at the start

[2022-07-14 15:38] aiscarvalho opened #234 "Spec: edit payment methods in join form"
[Spec for editing payment methods in the join form](https://design.penpot.app/#/view/06c46320-bbf8-11ec-862a-da95c03a630b?page-id=970f83e0-038a-11ed-8903-77092518f855&section=interactions&index=0&share-id=b255efe0-038a-11ed-9552-f940e3befd53).

A drag and drop interface to quickly select and order the accepted payment methods:

![image](https://user-images.githubusercontent.com/122730/179020646-a9

[2022-07-14 15:48] wpf500 commented on #234
Look's great! :+1:

[2022-07-14 16:04] aiscarvalho commented on #229
We agree 100% with @TobiasHauswurz point about simplifying the domain and email setup by removing the option to "send emails from a custom domain" when using an URL provided by beabee. Also agree with adding more copy to make this part less intimidating :)

@wpf500 to generate the DNS records maybe we just need to move "Save button" below the email question (and rename it :):
![image](https://user

[2022-07-15 09:19] wpf500 commented on #229
@aiscarvalho the server will need to know both pieces of information (domain and email domain) before generating the DNS records so probably makes sense that they are just in the same step?

We can see how this plays out during implementation too so I think these wireframes are good enough to become a spec :+1:

[2022-07-19 11:36] TobiasHauswurz commented on #234
Yes, looks great. Nothing to add.

[2022-07-20 08:31] aiscarvalho commented on #229
Good call!
We'll take this into account when designing the spec (domain and email domain in the same step).

[2022-07-20 08:31] #229 closed, assigned to nobody

[2022-08-04 16:18] rlafuente opened #238 "Spec: Newsroom settings"
This section has 4 subsections:
- General settings
- Email settings
- Domain settings
- Theme settings

[Open in PenPot](https://design.penpot.app/#/view/aad80030-0828-11ed-9552-f940e3befd53?page-id=aad80031-0828-11ed-9552-f940e3befd53&section=interactions&index=0&share-id=60fbd800-1337-11ed-817f-f940e3befd53)

## General settings
![settings   general](https://user-images.githubusercontent.com/159

[2022-08-08 09:04] wpf500 commented on #238
Looks good to me :+1:. I think some of the copy might need a bit of changing but we can do this in the implementation phase

[2022-08-10 12:12] TobiasHauswurz commented on #238
Agreed, looks good besides some copy stuff.

[2022-08-19 08:54] wpf500 commented on #108
Fixed by #240

[2022-08-19 08:54] #108 closed, assigned to nobody

[2022-08-19 08:57] #178 closed, assigned to nobody

[2022-08-22 15:23] #238 closed, assigned to nobody

[2022-08-22 15:30] #234 closed, assigned to nobody

[2022-09-01 16:39] rlafuente opened #259 "Wireframes: Advanced search"
We should have a quick call so that we can discuss the implementation details before moving to the spec, but here is our current vision for the advanced search interface.

[Open in PenPot](https://design.penpot.app/#/view/1bf90620-292f-11ed-b8ab-cf2300df1f4f?page-id=4e29b270-b03a-11ec-8735-b3cbc25196fd&section=interactions&index=0&share-id=4e21bda0-2a14-11ed-b8ab-cf2300df1f4f)

### Filter view aft

[2022-09-07 10:54] wpf500 commented on #259
Looks simple enough :).

Firstly: we won't allow condition grouping or different AND/OR operators so edit alternative 2 (match all/any) is definitely the way to go here.

I'm curious how more "complex" filters will be edited, by which I mean filters that need more than one parameter. For example:
* Filtering "between" dates (i.e. needs two date fields)
* Filtering location fields (e.g. all contact

[2022-09-08 10:36] rlafuente opened #263 "Design review: change "text-primary" classes to "text-body""
This is because both are supposed to address the same colors -- note that this is just for the "text-" classes

(this is mostly a note for Ana & me so that we don't forget this one)

[2022-09-08 15:40] aiscarvalho commented on #259
We started drafting more wireframes to address the possible lack of space and complex filters. Good points!
Here's a draft of the wireframes in a smaller screen. Drawing this also made us realise we're better off addressing space/layout in the spec, as we design the final UX elements that compose the advanced search :)

![image](https://user-images.githubusercontent.com/122730/189164767-a3a7d6b1-8

[2022-09-12 14:10] aiscarvalho commented on #259
We started drafting more wireframes to address the possible lack of space and complex filters. Good points!
Here's a draft of the wireframes in a smaller screen. Drawing this also made us realise we're better off addressing space/layout in the spec, as we design the final UX elements that compose the advanced search :)

![image](https://user-images.githubusercontent.com/122730/189164767-a3a7d6b1-8

[2022-09-14 10:32] wpf500 commented on #263
Does this mean all text will become `text-body` rather than `text-primary`, or will there still be some primary coloured text? Most newsrooms don't use the same body and primary colour and it is nice that some things are primary coloured

[2022-09-14 10:34] wpf500 commented on #87
We have had the thank you text hidden for so long that we decided to remove it. It's one less thing for admins to write copy for and we felt was never that useful anyway. @aiscarvalho @rlafuente feel free to reopen if you think differently

[2022-09-14 10:34] #87 closed, assigned to nobody

[2022-09-14 13:19] aiscarvalho commented on #263
Agreed! There are indeed cases where it makes sense to have text in the primary colour (instead of the text colour).

[2022-09-14 13:19] #263 closed, assigned to nobody

[2022-09-22 16:24] aiscarvalho opened #267 "Spec: Advanced search"
References: [spec on penpot](https://design.penpot.app/#/view/448268f0-2f80-11ed-9e6a-c67f7655c7b3?page-id=c80fd180-3502-11ed-9938-e1a5b2752cd6&section=interactions&index=0&share-id=a9628b70-3510-11ed-9e6a-c67f7655c7b3) and the [advanced search wireframes thread](https://github.com/beabee-communityrm/beabee-frontend/issues/259)

1. Advanced search panel

![image](https://user-images.githubusercont

[2022-09-28 15:10] #259 closed, assigned to nobody

[2022-09-28 15:11] wpf500 commented on #267
LGTM :+1:

[2022-10-04 07:55] TobiasHauswurz commented on #267
Yes, looks very good :)

[2022-10-06 14:23] #267 closed, assigned to nobody

[2022-11-03 14:36] aiscarvalho opened #300 "Improve relative dates"
First drafts for a component that tries to condense a variety of options for date inputs in the advanced search:

![image](https://user-images.githubusercontent.com/122730/199749769-2e113aa4-a8e6-4983-9ce3-73abe2c757f8.png)

![image](https://user-images.githubusercontent.com/122730/199750030-59124005-00a1-46bf-9e2e-2f7a4de5eb2d.png)

[Penpot document](https://design.penpot.app/#/view/448268f0-2f80

[2022-11-03 15:07] wpf500 commented on #300
@aiscarvalho how would it work to set relative dates in the future? i.e. -3 days vs +3 days

[2022-11-10 16:21] aiscarvalho commented on #300
@wpf500 we edited the [spec](https://design.penpot.app/#/view/448268f0-2f80-11ed-9e6a-c67f7655c7b3?page-id=78312ce8-0ae7-80c9-8001-8abd1389ba18&section=interactions&index=1&share-id=69cd8e21-398c-8036-8001-8abdd2a04a46) to contemplate future dates:

Adding Past/Future as options in the dropdown:
![image](https://user-images.githubusercontent.com/122730/201147277-2626f395-2d9c-46fe-be23-55137026ed7